
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Black+Han+Sans&family=Inter:wght@700&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Black+Han+Sans&family=Syne:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Black+Han+Sans&family=Yaldevi&display=swap');

.one{
	position: absolute;
width: 1912px;
height: 98px;
left: 0px;
top: 0px;

background: #EF8C54;
}
.logoname{
	position: absolute;
width: 189px;
height: 34px;
left: 56px;
top: 21px;
transform: translate(0, -20px);

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;

color: #5F00BD;
}
.vidu{
	position: absolute;
width: 137px;
height: 25px;
left: 1361px;
top: 27px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
color: #000000;
transition:0.8s ;
text-decoration: none;
}
.vidu:hover{
color: orangered;
}
.pomo{
position: absolute;
width: 137px;
height: 25px;
left: 1582px;
top: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
color: #000000;
transition:0.8s ;
text-decoration: none;
}
.pomo:hover{
color: orangered;
}
.chen{
position: absolute;
width: 60px;
height: 25px;
left: 1507px;
top: 28px;
text-decoration: none;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
color: #000000;
transition:0.8s ;
}
.chen:hover{
color: orangered;
}
.bg{
	position: absolute;
width: 2025px;
height: 700px;
left: -113px;
top: 98px;

}
.rebg{
	position: absolute;
width: 1912px;
height: 699px;
left: 0px;
top: 99px;

background: rgba(0, 0, 0, 0.4);
}
.ru{
position: absolute;
width: 48px;
height: 45px;
left: 1802px;
top: 21px;
}
.down{
position: absolute;
width: 27px;
height: 28px;
left: 1850px;
top: 32px;
}
.paforhow{
	position: absolute;
width: 767px;
height: 232px;
left: 56px;
top: 170px;

font-family: 'Yaldevi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;

color: #FFFFFF;
}
.h1forhow{
position: absolute;
width: 488px;
height: 39px;
left: 10px;
top: 106px;

font-family: 'Syne';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;
}
.novo{
	box-sizing: border-box;

position: absolute;
width: 1948px;
height: 582px;
left: -36px;
top: 806px;
background-image: linear-gradient(to left, #63CD49, #528A3F, #3FC21F);
mix-blend-mode: darken;
border: 1px solid #00CF15;
}
.h1novo{
	position: absolute;
width: 557px;
height: 56px;
left: 677px;
top: 798px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
transform: translate(0, -840px);

color: #000000;
}
.forpasha{

position: absolute;
width: 553px;
height: 473px;
left: 1331px;
top: 854px;
transform: translate(0, -800px);
background: #D8D6D6;
border-radius: 40px;
animation: updown  2s infinite alternate;
}
@keyframes updown {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: inset -75px -75px 400px #000;
	}
}
.pforp{
	position: absolute;
width: 333px;
height: 82px;
left: 100px;
top: 100px;
/*transform: translate(-1460px, -800px);*/

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 77px;

color: #000000;
}
.imgforp{
	position: absolute;
width: 993px;
height: 422px;
left: 363px;
top: 882px;
}